services:
  database:
    image: "postgres:16.8-alpine3.21"
    env_file:
      - ../.env.development
    environment:
      POSTGRES_USER: "local_user"
      POSTGRES_PASSWORD: "local_password"
      POSTGRES_DB: "local_db"
    ports:
      - "5432:5432"
